{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="container py-5">

  <div class="row">
    <h1>Стек изученных технологий</h1>
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Python
        </li>
        <li class="list-group-item">
          Django
        </li>
        <li class="list-group-item">
          RERT API, DRF
        </li>
        <li class="list-group-item">
          Unittest
        </li>
        <li class="list-group-item">
          SQL
        </li>
        <li class="list-group-item">
          Git
        </li>
        <li class="list-group-item">
          Linux
        </li>
        <li class="list-group-item">
          Doker
        </li>
        <li class="list-group-item">
          ООП, структуры данных, алгоритмы
        </li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      <p>Текст страницы "Технологии"</p>
    </article>
  </div>
</div>

{% endblock %}