{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="container py-5">
  <div class="row">
    <h1>Стек изученных технологий</h1>
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Python
        </li>
        <li class="list-group-item">
          Django
        </li>
        <li class="list-group-item">
          RERT API, DRF
        </li>
        <li class="list-group-item">
          Unittest
        </li>
        <li class="list-group-item">
          SQL
        </li>
        <li class="list-group-item">
          Git
        </li>
        <li class="list-group-item">
          Linux
        </li>
        <li class="list-group-item">
          Doker
        </li>
        <li class="list-group-item">
          ООП, структуры данных, алгоритмы
        </li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      <p>
        Для написания данного сервиса применены:  Python, Django, DRF.  <br>
        Для входа на сайт воспользуйтесь следующей комбинацией:<br>
        Логин : admin <br>
        Пароль : admin <br>
        Согласно понимания ТЗ и возможностей реализованы модели - справочник и элемент справочника.  <br>
        Справочник имеет уникальные поля - имя и версия. <br>
        Справочник и элемент добавляются как из админки так и напрямую из сайта. Так же через API. <br>
        Для удобства предоставлена тестовая база. <br>


      </p>
    </article>
  </div>
</div>

{% endblock %}